@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

h1{
    font-family: Roboto Mono;
    text-align: center;
    color: blue;
    background-color: yellow;
    border: 1px black solid;
}

body{
    background-image: url("./img/showcase\ \(1\).jpg");
}

.artikel{
    background-color: lightgray;
    color: navy;
    border: 1px black solid;
    
    align-items: left;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

p{
    padding-left: 50px;
}

h2{
    text-align: center;
}

#bild{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 10px;
}